html {
    min-height: 100%;
    font-family: "Century Gothic", sans-serif;
}
body {
    background: -webkit-linear-gradient(#93B874, #C9DCB9); /* Chrome 10+, Safari 5.1+ */
    background: -moz-linear-gradient(#93B874, #C9DCB9); /* Firefox 3.6+ */
    background: linear-gradient(#93B874, #C9DCB9); /* Standard syntax (must be last) */
    background-color: #C9DCB9;
}
#boxStyle {
    height: 400px;
    width: 500px;
    margin-left: 35%;
    border: 1px solid powderblue;
    background-color: #ffffff;
    background-image: url("img/Time_Backup-512.png");
}
#boxMain {
    width: 80%;
    margin-left: 10%;
    border: 1px solid powderblue;
    background-color: #ffffff;
}
h1 {
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.4px;
    margin: 5%;
}
#h2Header {
  opacity: 0.2;
  color: white;
  font-size: 73px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 250px;
}
#lastSpan {
  opacity: 0.3;
  color: white;
  font-size: 73px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 250px;
}
#firstSpan {
  opacity: 0.3;
  color: white;
  font-size: 73px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 250px;
}
#mainh1 {
  font-size: 30px;
  background-color: #dff2d0;
}
#content_div {
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
#boxInput {
    margin-left: 5%;
}
button {
  border-radius: 10px;
  height: 2em;
  width: 100px;
  border: none;
}
a.button {
  text-decoration: none;
  color: black;
}
body.loaded .toggle {
   cursor: pointer;
}

body.loaded .hide {
   display: none;
}

body.loaded .show {
   display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555555;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}
#footer {
    margin: 0;
    padding: 8px;
    overflow: hidden;
    text-align: center;
    background-color: #555555;
    color: white;
}
span {
-webkit-transform: scale(3,3);
display: inline-block;
}
#overlay {
    position: absolute;
    z-index:100;
    margin-top: 10%;
    margin-left: 22%;
}
